.movies-list-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  width: 100%;
}

.home-page-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.movies-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  justify-content: space-evenly;
}

.movie-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 35rem;
  max-height: 35rem;
  width: 25rem;
  max-width: 25rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.movie-card img {
  height: 60%;
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  object-fit: fill;
  cursor: pointer;
}

.movie-card p {
  padding: 0.5rem;
  cursor: pointer;
}

.movie-card h3 {
  cursor: pointer;
}

.action-btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

.action-btn {
  padding: 0.5rem;
  border-radius: 0.3rem;
  outline: none;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: fit-content;
}

.action-btn:disabled {
  cursor: not-allowed;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
